<!DOCTYPE html>
<html>
  <head>
    <title>RailsOne785</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Fake Navbar</h1>
    <%= link_to "Home", root_path %>
    <%= yield %>
    <p>Footer</p>
  </body>
</html>
